* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
button {
    font-family: 'Montserrat', sans-serif;
    color: rgb(236, 43, 43);
    font-size: larger;
    font-weight: normal;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(8, 8, 8);
}

header {
    padding: 18px 0;
    background-color: rgb(46, 46, 46);
    color: rgb(236, 43, 43);
    margin-bottom: 18px;
}

header nav li,
a {
    margin: 14px;
    padding: 16px 0;
    display: inline;
    font-size: 14px;
    color: rgb(228, 20, 20);
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Frente {
    margin-right: 40px;
}

section p {
    margin-bottom: 8px;
    margin-top: 8px;
    color: rgb(228, 20, 20);
}

.image-list img,
ul {
    height: 100px;
    margin-top: 14px;
    margin-bottom: 10px;
    display: flex;
    margin-right: 18px;
    margin-left: 18px;
}

.social-links img {
    height: 40px;
    margin-top: 14px;
    margin-bottom: 8px;
    display: inline-flex;
}

footer {
    margin-top: 90px;
    background-color:  rgb(46, 46, 46);
    padding: 18px 0;
    color: rgb(236, 43, 43);
}   

.social-links {
    display: inline;
}

form input,
button,
textarea {
    display:block;
    width: 320px;
    margin-right: 40px;
    margin-bottom: 6px;
    padding: 8px;
    background-color: rgb(46, 46, 46);
}

textarea {
    resize: none;
    background-color: rgb(46, 46, 46);
}

section h2{
    align-items: center;
}